# Node.js dependencies
node_modules/
npm-debug.log
yarn-error.log

# Environment files
.env

# Compiled output
dist/

# IDE and text editor files
.idea/
.vscode/

# Log files
*.log

# macOS specific files
.DS_Store

# Windows specific files
Thumbs.db
